@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}
html {
  font-size: 10px;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
$black: #000;
$green: #68b404;
$gray: #333;
$title-font: "Paytone One", sans-serif;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
